html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#map {
  height: 100%;
}

/* Style for the dynamically created panel */
.heatmap-panel {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  margin: 10px;
  z-index: 1;
  max-width: 300px;
}

.heatmap-panel h2 {
  margin-top: 0;
}

.heatmap-panel p {
    margin: 0;
}

.heatmap-panel p strong {
    color: #d93025;
}

